# Python / Virtual Environment
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Databases & Local Data
data/*.db
!data/sample_store.db
data/user_databases/
SQLPilot_project_docs/

# macOS System Files
.DS_Store

# Environment / API Keys
.env
